extends ../layout

block content
    h4 Login to your account
    p.lead Enter your username and password to log in.
    br
    if errorMsg
        p(style='color: red;')= errorMsg
    form(action='' method='post' role='form')
        fieldset
            .form-group
                label(for='username') Username
                input.form-control(type='text' name='username' placeholder='Your Username')
            .form-group
                label(for='password') Password
                input.form-control(type='password' name='password' placeholder='Your Password')
        a(href='/') Cancel
        | &nbsp;
        button.btn.btn-default(type='submit') Login
